# Rails
RAILS_ENV=production
SECRET_KEY_BASE=
RAILS_RELATIVE_URL_ROOT=/
PORT=7000

# Database
DATABASE_URL=postgres://postgres:postgres@postgres:5432/codeocean_production
DB_HOST=postgres

# Admin account (created on first boot/seed)
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Poseidon
POSEIDON_URL=http://poseidon:7200

# Prometheus
PROMETHEUS_EXPORTER_HOST=prometheus_exporter
PROMETHEUS_EXPORTER_DISABLE=false

# SMTP
SMTP_ADDRESS=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
RAILS_SERVE_STATIC_FILES=true
